# Model Inference

## 1. Import Libraries

In [1]:
# Import Libraries

import json
import pickle
import pandas as pd

libraries berhasil di import

## 2. Load Model

In [2]:
# Memanggil model dan disimpan pada variabel baru 

import pickle
with open('list_num_cols.txt', 'rb') as file_1:
  model_num_col = pickle.load(file_1)

with open('list_cat_cols_o.txt', 'rb') as file_2:
  model_cat_col_o = pickle.load(file_2)

with open('list_cat_cols_n.txt', 'rb') as file_3:
  model_cat_col_n= pickle.load(file_3)

with open('best_model_svm.pkl', 'rb') as model_file:
  model_svm = pickle.load(model_file)

model berhasil di load.

# 3. Input Inference Data

Membuat data baru

In [3]:
# Membuat data baru 
data={ 
       'Loan_ID': ['LP003000', 'LP003001'], 
       'Gender': ['Male','Female'], 
       'Married': ['Yes', 'No'], 
       'Dependents': [3, 0], 
       'Education': ['Graduate','Graduate'],
       'Self_Employed': ['Yes', 'No'],
       'ApplicantIncome': [5000, 2000],
       'CoapplicantIncome': [0, 0],
       'LoanAmount': [300, 150],
       'Loan_Amount_Term': [180, 360],
       'Credit_History': [1,0],
       'Property_Area': ['Semi Urban', 'Rural']
       }

# Membuat dataframe
df_new = pd.DataFrame(data)
df_new

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP003000,Male,Yes,3,Graduate,Yes,5000,0,300,180,1,Semi Urban
1,LP003001,Female,No,0,Graduate,No,2000,0,150,360,0,Rural

Data baru berhasil disimpan dalam variabel `df_new`

# 4. Model Prediction

In [4]:
# Kategori Kolom
df_num = df_new[model_num_col]
df_cat_o = df_new[model_cat_col_o]
df_cat_n = df_new[model_cat_col_n]

In [5]:
# Cek
df_num

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
0             5000                  0         300               180
1             2000                  0         150               360

In [6]:
# Cek
df_cat_o

   Dependents
0           3
1           0

In [7]:
# Cek
df_cat_n

   Gender Married Education Self_Employed  Credit_History Property_Area
0    Male     Yes  Graduate           Yes               1    Semi Urban
1  Female      No  Graduate            No               0         Rural

Prediksi pada pembagian jenis kolom berhasil dilakukan.

In [8]:
# Lakukan prediksi pada data baru
y_pred_inf = model_svm.predict(df_new)

In [15]:
# Prediksi
for i, pred in enumerate(y_pred_inf):
    if pred == 0:
        print(f'Prediction for ID {df_new["Loan_ID"].iloc[i]}: 0 (N = Not Approved)')
    else:
        print(f'Prediction for ID {df_new["Loan_ID"].iloc[i]}: 1 (Y = Approved)')

Prediction for ID LP003000: 1 (Y = Approved)
Prediction for ID LP003001: 0 (N = Not Approved)

### **5. Conclusion**

Model ini secara akurat memprediksi loan status dari data yang belum pernah dilihat sebelumnya, seperti yang ditunjukkan diatas yang mana menghasilkan untuk customer ID LP00300 maka loan akan di approved sedangkan ID LP003001 loan status tidak di appoved.